{% extends "layout/base.twig" %}

{% block title %}
	{{title}}
{% endblock %}

{% block boxContent%}
<h1 class="box--content__title h1 serif"><a class="hover-underline" href="{{ url('about') }}">Mathias Ziwck</a></h1>
<nav class="box--content--nav">
	<ul>
		{% for _photoSet in photosSets %}
		<li class="box--content--nav__item sans-serif" data-picture="{{_photoSet.picture}}">
			<a class="hover-underline" href="{{ url('photos-set', {slug:_photoSet.slug}) }}">{{ _photoSet.name }}</a>
		</li>
		{% endfor %}
	</ul>
</nav>
{% endblock %}